<div class="nav">
    <h3><%= link_to "ShakerðŸ¸", cocktails_path %></h3>

</div>

<div class="container pt-5">
  <div class="row">
    <div class="col">
      <%if @cocktail.photo.file %>
          <div class="cocktail-card" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= cl_image_path @cocktail.photo %>')">
          </div>
      <% else %>
      <% end %>
    </div>
     <div class="col">
      <h1><%= @cocktail.name %></h1>
      <% @cocktail.doses.each do |dose| %>
        <p><%=  dose.description %> | <%= dose.ingredient.name %></p>
      <% end %>
      <%= link_to edit_cocktail_path do %>
        <i class="far fa-edit"></i>
      <% end %>
      <%= link_to cocktail_path(@cocktail), method: :delete do %>
        <i class="far fa-trash-alt"></i>
      <% end %>
    </div>

  </div>

</div>



<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
