<div class="nav">
    <h3><%= link_to "ShakerðŸ¸", cocktails_path %></h3>

</div>

<div class="container">
  <h1><%= @cocktail.name %></h1>
  <% @cocktail.doses.each do |dose| %>
    <p><%=  dose.description %> | <%= dose.ingredient.name %></p>
    <%= cl_image_tag @article.photo, height: 300, width: 400, crop: :fill %>
  <% end %>


  <%= link_to "Edit", edit_cocktail_path %>
  <%= link_to "Delete", cocktail_path(@cocktail), method: :delete%>
</div>



